
<%- include('../partials/html-head') %>
 <%- include('../partials/nav') %>
    <div class="container">
      <h2 class="card-title">Restaurants Section</h2>
<!--  card title below  -->
<!-- will show here  -->
<% restaurants.forEach(restaurant => { %>
  
  <h3><%= restaurant.title %>  </h3> 
    <img src="<%= restaurant.avatar %>" alt="">
   
      
          <% }) %>
          
        </div>
 <%- include('../partials/footer') %>
