<%- include('../partials/html-head') %>
<h1><%= title %> </h1>
  
<%- include('../partials/nav') %>

  <body>
    <h1>Enter a Restaurant</h1>
    <form action="/restaurants" method="POST">
      <label>Restaurant:
        <input value="input" name="title" placeholder="enter restaurant">
        <br />

        <label>Review
          <input value="input" selected>NYC</input>
        </select> </label
      ><br />

    <label>City
        <select name="city">
          <option value="NYC" selected>NYC</option>
        </select> </label
      ><br />

      
      <button type="submit" href="/restaurants/new">Submit Restaurant</button>
    </form>

    <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">Details</a>
  
<%- include('../partials/footer') %>