```<%- include('../partials/html-head') %>
<h1><%= title %> </h1>
<%= restaurant.title %> 
<%- include('../partials/nav') %>
<title> Restaurant Profile Page </title> 
<body>
    <h1> <%= restaurant._id %> </h1>
<!-- add image -->
<img src="<%=restaurant._id.imageURL %> ">
</button>Restaurant Description</button>

<!-- post reviews here  -->
<section> 





  </section>








<!-- add review form   -->
<form action="/restaurants/"<%=restaurant._id %> >
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Review</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Restaurant">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">leave review</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div> 
</br>


  <label for="exampleFormControlTextarea1" class="form-label"> Update Rating</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</body>
</br>

<button href="/restaurants"> Submit Review  </button>

</form> 












    <%- include('../partials/footer') %>```