<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<title> Restaurant Profile Page </title> 
<style> 

</style> 

    <h1 id="rest-title"> <%= restaurant.title %> </h1>
<!-- add image -->
<img src="<%=restaurant._id.imageURL %> ">
<!-- </button>Restaurant Description</button> -->

<!-- post reviews here  -->
<!-- Update to restaurant -->


      <div id='posts'>
      
      
      <!-- add review form   -->
      <form action="/reviews/<%=restaurant._id%>" method="POST">
        <div class="mb-3">
          <label>Review</label>
          <div class="col-md-6">
          <input name="title"  placeholder="Restaurant">
          </div>
        </div>
        <div class="mb-3">
          <label>leave review</label>
            <textarea name="content" rows="3"></textarea>
          </div> 
        </br>
        
        
        <!-- <label for="exampleFormControlTextarea1" class="form-label text-light"> 
          Rating</label>
          <textarea 
          name="rating" 
          class="form-control" 
          id="exampleFormControlTextarea1" 
          rows="3"
></textarea> -->

<!-- RATINGINPUT  -->
<select 
  class="form-select" 
  name="rating"
>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>        
</div>
</body>
</br>

<button href="/restaurants"> Submit Review</button>

</form> 





<div id='posts'>

<section> 
  <% restaurant.reviews.forEach(function(review) { %>
    <div class="card-header">
       <a href="/reviews/<%= review._id %>"> <%= review.title %> </a>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= review.content %></p>
        <footer class="blockquote-footer"><%= review.author.title %></footer>
      <a href="/reviews/<%= review._id %>"><button>reply to post</button></a>
   
      
       <!--  DELETE BUTTON  -->
  <!-- <form action="/restaurants/<%= //review._id%>/deleteReview?_method=DELETE" method="POST">  -->

    <% if (user.profile._id.toString() === review.author._id.toString()) { %> 
  <form action="/reviews/<%= review._id%>?_method=DELETE" method="POST"> 
    <li> 
 <%= review.title %>
 <%= //review.delete %> 
  <button>
    DELETE
  </button>
    </li> 
    </form>




  </section>
<% } %> 
  
<!--  UPDATE FORM  -->
  <section> 
<form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
  <li> 
 
  <input type="text" name="title"  placeholder="Restaurant"></li> 
  

  <textarea name="content" rows="3"></textarea>
</br>     

            <select 
class="form-select" name="rating"
>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select></br>     

<button>

  UPDATE

</button>
</form>



  </section>





<% }) %> 
</div> 
