<%- include('../partials/html-head') %>
<h1><%= title %> </h1>
<%= //restaurant.title %> 
<%- include('../partials/nav') %>
<title> Restaurant Profile Page </title> 
<body>
    <h1> <%= restaurant.title %> </h1>
<!-- add image -->
<img src="<%=restaurant._id.imageURL %> ">
</button>Restaurant Description</button>

<!-- post reviews here  -->
<section> 
  <% restaurant.reviews.forEach(function(review) { %>
    <div class="card-header">
       <a href="/reviews/<%= review._id %>"> <%= review.title %> </a>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= review.content %></p>
        <footer class="blockquote-footer"><%= review.author.title %></footer>
      <a href="/reviews/<%= review._id %>"><button>reply to post</button></a>


<% }) %> 


  </section>








<!-- add review form   -->
<form action="/reviews/<%=restaurant._id%>" method="POST"  >
<div class="mb-3">
  <label>Review</label>
  <input name="title"  placeholder="Restaurant">
</div>
<div class="mb-3">
  <labe>leave review</label>
  <textarea name="content" rows="3"></textarea>
</div> 
</br>


  <label> Update Rating</label>
  <input name="rating" min: 1, max: 5></input>
</div>
</body>
</br>

<button href="/restaurants"> Submit Review  </button>

</form> 












    <%- include('../partials/footer') %>