<%# This is where we'll display a button to add/remove the game from your collection %> 
<% if (!game?.collectedBy.some(profile => profile._id.equals(user.profile._id))) { %>
<form 
class="text-center" 
action="/games/<%= apiResult.id %>/addToCollection" 
method="POST"
>
<input type="text" name="name" hidden value="<%= restaurant.name %>">
<input type="text" name="rawgId" hidden value="<%= restaurant.id %>">
<input 
  type="text" 
  name="imageUrl" 
  hidden 
  value="<%= apiResult.background_image %>"
>
<input 
  type="text" 
  name="released" 
  hidden 
  value="<%= apiResult.released %>"
>
<button class="btn btn-primary">
  Add To Collection
</button> 
</form>
<% } %>
<% if (game?.collectedBy.some(profile => profile._id.equals(user.profile._id))) { %>
<form 
class="text-center" 
action="/games/<%= restaurant.id %>/removeFromCollection?_method=DELETE" 
method="POST"
>
<button class="btn btn-danger">
  Remove From Collection
</button>
</form>
<% } %>